section#about.main-section.section-bg
  .about-inner
    .about-content
      +sectionHeader('О компании', 'Наша фотостудия')
      p
        em.section-sub-emphasis
          | Van Gog фотостудия это творческое  арт - пространство для реализации любых идей и задач!
      p.about-info
        | Это не просто студия для сьемки, это целый комплекс услуг для вас и ваших близких!<br /><br />
        | Мы работаем по системе «все включено», обратившись к нам вам нужно только одно, рассказать,
        | что вы хотите, а мы в свою очередь предложим варианты фотосъемки и варианты для реализации ваших идей.
      footer
        +btnLink('#0', 'Больше о фотостудии')