section#advantages.main-section.scroll-to-this
  
  +sectionHeader('Наши преимущества', '5 причин прийти к нам')
  
  .advantages-inner
    +advantage('bg-decoration', 
    'Современные декорации', 
    'Мы постоянно совершенствуемся, основываясь на мировых  тенденциях, практичности и пожеланиях наших клиентов.')
    +advantage('bg-halls', 
    '6 различных залов', 
    'От классики до футуризма, все для вашего творчества и реализации всех, даже самых сложных творческих идей.')
    +advantage('bg-photos',
    'Профессиональные фотографы',
    'Наши фотографы работают во всех популярных видах жанра фотографии и обеспечивают качественный результат.')
    +advantage('bg-technique',
    'Профессиональная техника',
    'Фотостудия имеет профессиональную технику и свет для сьёмки, есть все необходимое для комфортной работы и получения желаемого результата.')
    +advantage('bg-collab',
    'Открыты для сотрудничества',
    'Мы открыты для сотрудничества, проводим мастер-классы фотографов, семинары, выездные регистрации, воркшопы и т.д.')