include ../includes/mixins
include ../includes/meta

doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content=desc)
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    +social
    +favicon
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    include ./sprite.svg
    +browserHappy
    
    .page-top
      include ../includes/header
      include ../includes/sections/carousel
    
    main.main-content
      .container
        block content
    
    include ../includes/footer
    
    +ga
    +jsonLD
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/popper.js/dist/umd/popper.js')
    // endbower
    // endbuild
    // build:js scripts/plugins.js
    script(src='/bower_components/bootstrap/js/dist/util.js')
    // script(src='/bower_components/bootstrap/js/dist/alert.js')
    script(src='/bower_components/bootstrap/js/dist/button.js')
    script(src='/bower_components/bootstrap/js/dist/carousel.js')
    script(src='/bower_components/bootstrap/js/dist/collapse.js')
    script(src='/bower_components/bootstrap/js/dist/dropdown.js')
    // script(src='/bower_components/bootstrap/js/dist/modal.js')
    // script(src='/bower_components/bootstrap/js/dist/scrollspy.js')
    // script(src='/bower_components/bootstrap/js/dist/tab.js')
    // script(src='/bower_components/bootstrap/js/dist/tooltip.js')
    // script(src='/bower_components/bootstrap/js/dist/popover.js')
    script(src='/bower_components/jquery-touchswipe/jquery.touchSwipe.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild