footer.main-footer
  .container
    .d-flex
      .p-4.col-sm-6.align-self-center
        small.main-footer-copy © ИП Фёдоров С.С., 2017
      .p-4.col-sm-6.align-self-center
        p.main-footer-info
          | Интернет-агентство Tian Group:
          br
          | создание и продвижение сайтов Челябинск