footer.main-footer
  .container
    .col-12
        .d-flex
          .p-4.col-sm-6.align-self-center
            small.main-footer-copy © ИП Фёдоров С.С., 2017
          .p-4.col-sm-6.align-self-center
            p.main-footer-info
              | Интернет-агентство Tian Group:
              br
              | <a href="https://it-tian.ru/">создание</a> и <a href="https://it-tian.ru/">продвижение сайтов Челябинск</a>