header.main-header
  .header-top
    +contactPhone
    h1.logo.contact-block
      a(href='/')
        img(src='/images/logo.png', alt='Van Gog')
        img.logo-mobile(src='/images/logo_mobile_c.png', alt='Van Gog')
    +contactAddress
    +collapse
  include nav